.ul {
  padding: 20px;
}

.li-color {
  color: aliceblue;
}

.color {
  background-color: grey;
}

h1,
h3,
.front-paragraph {
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

h3 {
  margin: 30px;
}

.main-paragraph {
  text-align: center;
  margin: 20px 30px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.h3-font {
  font-family: 'Akaya Telivigala', cursive;
}
